@font-face {
    font-family: "summernote";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/summernote.eot");
    src: url("../assets/fonts/summernote.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/summernote.woff?") format("woff"), url("../assets/fonts/summernote.ttf?") format("truetype");
}

