select.datetime-picker{
    width: initial;
}

p.form-paragraph{
    font-size: 1.0em;
    line-height: 1.0em;
    margin-top: 0;
    margin-bottom: 2.0em;
}

.flash-render {
    color: red;
    text-align: center;
    margin-top: 1em;
}

.user_cover_div_wrapper {
    position: relative;
    width: 100%;
}

.user_cover_div_wrapper:before {
    content:"";
    display: block;
    padding-top: 30%;
}

.user_cover_div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.rellax_icon {
    position: absolute;
    bottom: -30px;
    right: 25px;
    background: #fff;
    border-radius: 50%;
    border: #fff solid 2px;
    width: 150px;
    overflow: hidden;
}

.rellax_icon img {
    width: 100%;
}

.user_info_div {
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .user_cover_div_wrapper:before {
        padding-top: 40%;
    }
}

@media screen and (max-width: 767px) {
    .user_cover_div_wrapper:before {
        padding-top: 50%;
    }

    .rellax_icon {
        bottom: -15px;
        width: 130px;
    }
}

@media screen and (max-width: 400px) {
    .user_cover_div_wrapper:before {
        padding-top: 50%;
    }

    .rellax_icon {
        width: 100px;
    }
}
